aiofiles
aiohttp==3.10.3
apscheduler
asyncio
bard
beautifulsoup4
blackpink
bs4
bing_image_downloader
curl-cffi
cloudscraper
deepai
dnspython
emojis
emoji
Faker
future
ffmpeg-python
Flask==1.1.2
gitpython
google-api-python-client
gunicorn==20.1.0
g4f
geopy
gpytranslate
gtts
hachoir
heroku3==5.1.4
httpx[http2]
img2pdf
instaloader
langdetect
lyricsgenius
googletrans==4.0.0-rc1
lexica-api
motor
numpy
nest_asyncio
nekosbest
openai==0.28.0
opencv-python
ntgcalls
pillow
psutil
py-tgcalls==2.0.2
pykeyboard
kurigram==2.1.37
pickledb
pycountry
pycryptodome
pydub
pyfiglet
pykeyboard
python-dotenv
python-telegram-bot
python-whois
pyyaml
pyshorteners
pyttsx3
pytz
pytube
requests
qrcode
speedtest-cli
search_engine_parser
SpeechRecognition
spotipy
TgCrypto
telegraph
unidecode
uvloop
wget
werkzeug==2.0.2
yt-dlp>=2025.1.15
https://github.com/KSKOP69/youtube-search-python/archive/ksk.zip
